{% extends 'index.html' %}
{% load i18n %}
{% comment %}
This is where you can override the hero area block. You can simply modify the content below or replace it wholesale to meet your own needs. 
{% endcomment %}
  {% block hero %}
  <div class="jumbotron">
    <div class="container">
      <h1>{% trans "Bienvenidos a la IDE Cipolletti" %}</h1>
      <p>{% blocktrans %}En este sitio se pueden descargar y compartir capas de datos geoespaciales de la ciudad y la regi&oacute;n.{% endblocktrans %}</p>
      <p>{% blocktrans %}{% endblocktrans %}</p>
      <span>{% trans 'Need help?' %} <a href="http://docs.geonode.org/en/latest/tutorials/users/quickstart/index.html">{% trans 'Getting Started' %}</a></span>
    </div>
  </div>
  {% endblock %}
